.container {
  display: block;
  width: 600px;
  height: 500px;
  margin: 50px auto;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

#calendar-holder {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  height: 369px;

  margin: 50px auto;
  padding-top: 1px;

  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

.cal-head-holder {
  font-family: "Quicksand Bold", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
}

#cal-left,
#cal-right {
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 17px;
  cursor: pointer;
}

#cal-left {
  float: left;
}

#cal-right {
  float: right;
}

.cal-month {
  text-align: center;
  padding: 18px;
}

.table-holder {
  font-family: "Montserrat Regular", sans-serif;
  color: rgba(31, 32, 65, 0.5);
  font-size: 12px;
  line-height: 15px;
  padding: 0px 20px 0 20px;
}

.days-table {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
  user-select: none;
}

.days-table-insertion {
  display: inline-block;
}

#calender__days-hollder {
  display: block;
  width: 100%;
  height: 100%;
}

.th-cell,
.td-cell {
  box-sizing: border-box;
  height: 38px;
  width: 38px;
  cursor: pointer;
  border: none;
  user-select: none;
}

.th-cell {
  font-family: "Montserrat Bold", sans-serif;
  color: #bc9cff;
  border: none;
}

.td-cell:hover {
  font-weight: bolder;
  color: #666;
}

.td-cell-grayed {
  opacity: 0.5 !important;
}

.td-cell-today {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
}

.td-cell-inside {
  position: relative;
}

.td-cell-inside:after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.25 !important;
}

.td-cell-first, 
.td-cell-last,
.td-cell-single {
  position: relative;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  opacity: 1;
}

.td-cell-first:after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.25;
}


.td-cell-last:after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.25;
}

.cal-clear,
.cal-submit {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-transform: uppercase;
}
.bottom-holder {
  position: relative;
  border: 1px solid;
}
.cal-clear {
  position: absolute;
  left: 19px;
  bottom: 19px;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}
.cal-submit {
  position: absolute;
  right: 20px;
  bottom: 19px;
  color: #bc9cff;
  cursor: pointer;
}
